.h1 {
    font-size: 1.5rem;
    padding: 0;
}

/* Set background image and some opacity to make it less visible - from CSS Tricks */
.hero::after {
    content: "";
    background: url("../img/code-bg.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  /* Icon next to name in navbar */
  .el-icon {
    height: 32px;
    color: #fff;
  }
  
